<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template E-mail -- BarrigaFit</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      border: none;
      width: 100%;
      height: 100%;
      background-color: #f7f7f7;
      font-family: 'Poppins', sans-serif;
    "
  >
    <div
      style="
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
      "
    >
      <div
        style="
          width: 100%;
          max-width: 600px;
          display: block;
          margin: 0 auto;
        "
      >
        <div
          style="
           display: block;
            margin-top: 20px;
            width: 100%;
            background-color: #fff;
            border: 1px solid #d9d9d9;
            position: relative;
           
          "
        >
        <div style="
          width: 100%;
          height: 82px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
        ">
          <span style="
            font-size: 30px;
            color: #8CC8F3;
            font-weight: 700;
            width: 100%;
            margin: auto;"
          >
            Study room
          </span>
        </div>
     
          <div
            style="
              width: 100%;
              height: 82px;
              background-color: #8CC8F3;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
            "
          >
            <span style="font-size: 25px;
              color: #ffffff;
              font-weight: 700;
              width: 100%;
              margin: auto;"
            >
              Resetar senha
            </span>
          </div>

          <h1
            style="
              margin: 60px 0 10px;
              font-size: 24px;
              font-weight: 600;
              color: #8CC8F3;
              text-align: center;
            "
          >
            Olá, {{name}}!
          </h1><br />
          <p
            style="
              padding: 0 40px;
              text-align: center;
              font-size: 16px;
              color: #555;
            "
          >
            Parece que você solicitou a recuperação de sua senha da conta no
            Study Room.<br /><br />Para resetar basta clicar no botão
            abaixo:
         <br /><br /><br />
          <a
            href="{{resetPasswordUrl}}"
            target="_blank"
            style="
              padding: 15px 25px;
              background-color: #8CC8F3;
              border-radius: 10px;
              color: #fff;
              text-decoration: none;
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 20px;
            "
            >Recuperar senha</a
          ><br /><br />
        </p>

        <p
          style="
            padding: 0 40px;
            text-align: center;
            color: #555;
            font-size: 13px;
          "
        >
          Caso o botão não funcione clique ou copie o link abaixo:
          <br />
          <a
            href="{{resetPasswordUrl}}"
            target="_blank"
            style="
              color: #8CC8F3;
              font-weight: 600;
              margin-bottom: 30px;
              font-size: 12px;
              text-align: center;
            "
            >{{resetPasswordUrl}}</a
          ><br /><br /><br />
          <span style="text-align: center; margin-bottom: 30px; color: #555; width: 100%; font-size: 16px">
            Abraços,<br />
            Equipe Study Room
          </span>
        </p>
        </div>

        <div style="text-align: center; margin-top: 30px">
          <h3 style="font-size: 13px; font-weight: 600; color: #777777">
            Comunicado
          </h3>
          <p style="font-size: 13px; color: #777777; max-width: 270px; margin: 0 auto;">
            Caso você não tenha pedido a recuperação de senha desconsidere esse
            email.<br /><br />Em caso de qualquer dúvida entre em contato pelo
            email
            <a
              href="mailto:suporte@studyroom.com.br"
              style="color: #8CC8F3"
              >suporte@studyroom.com.br</a
            >
          </p>
        </div>
      </div>
    </div>
  </body>
</html>